.footer {
  padding-top: 3%;
  background-color: #232f3e;
  color: white;
}
.footer__content {
  margin-left: 15%;
  margin-right: 15%;
  display: flex;
  justify-content: space-between;
}
.footer__linkHeadings > h3 {
  padding-bottom: 10%;
  font-size: medium;
}
.footer__linkHeadings > p {
  padding-bottom: 3%;
  font-size: small;
}
.footer__line {
  border-bottom: 1px solid #888;
  margin-top: 2%;
}
.amazon__logo {
  width: 100px;
  padding-left: 50%;
  padding-top: 2%;
}
.countries {
  color: #ddd;
  padding: 0.6em;
  font-size: small;
  display: flex;
  justify-content: flex ;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
  text-align: right;
}

.countries > p {
  padding: 1%;
}
.moreOnAmazon {
  background-color: #131a22;
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  padding: 20px;
}

td {
  padding: 12px;
  text-align: left;
  font-size: small;
}

table > tbody > tr > td > a {
  color: #0066c0;
  text-decoration: none;
  font-weight: bold;
}

table > tbody > tr > td > span {
  color: #555;
}

.upper__tr td,
.lower__tr td {
  width: 15%;
}

table > tbody > tr > td > a:hover {
  text-decoration: underline;
}

.copyright {
  text-align: center;
  padding: 20px;
  background-color: #131a22;
}

.copyright__line1 {
  margin: 5px 0;
}

.copyright__line2 {
  margin: 10px 0;
}
